[Desktop Entry]
Encoding=UTF-8
Name=Link to prog2_data.latticeList.txt
Type=Link
URL=https://wwu.instructure.com/courses/853899/files/25136879/download?
Icon=text-html
